body{ 

	background-color: #ededed;
}


h1{
	font-size: 65px;
	text-align: center;
	text-shadow: 0px 0px 10px #6073bf;
}

table, th, td {
  border: 1px solid black;
}

select , table, th, td{
	margin-top: 10px;
	font-size: 30px;
	align-self: center;
	width: 100%;
}

