body{ 

	background-color: #ededed;
}

h1{
	font-size: 65px;
	text-align: center;
	text-shadow: 0px 0px 10px #6073bf;
}

input ,select, label {
	cursor: pointer;
}

#pelis  { 
	overflow-x:scroll;
	overflow-y:auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
  font-size: 26px;
  overflow-y:scroll;
}

tbody tr:nth-child(odd){
  background: rgba(0,0,0,.2);
}

.sinopsis{
	width: 25%;
	height: auto;
}

img{
	border: none;
  max-height: 500px;
  max-width: 350px;
}

.title-blk {
    width: 100%;
    float: left;
    text-align: center;
    padding: 35px 0 30 px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDcxLjQ1IDQ1LjA2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzMzMztzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+VGlja2V0aW5nIHByb2Nlc3NfRGVza3RvcDwvdGl0bGU+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTUxNC42NSw1NDkyLjk0czIwNC40Ni05Nyw0NzAuNjgsMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE1MTQuMjIgLTU0NDguODEpIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center top;
}

.cbox_ocupado ,.cbox_ocupado:checked + label ,.cbox_disponible , .cbox_disponible:checked + label {
	margin: 3px;
  width: 21px;
  height: 21px;
  border-bottom-left-radius: 26%;
  border-bottom-right-radius: 26%;
  color: #000000;
  text-align: center;
  font-size: 150%;
  background-color: #f2f2f2;
  Padding: 0,10px;
}

.cbox_ocupado ,.cbox_ocupado:checked + label  {
	background: red;

}

.cbox_disponible {
	background-color: lightblue;
}

.cbox_disponible:checked + label {
	background-color: green;
}


.cbox_disponible:hover{
	background-color: #9bff82;
}

#asientos{
	  display: table;
  margin-right: auto;
  margin-left: auto;
}


input[type=checkbox] {
	 /*-webkit-appearance: none;*/
   /*display:none;*/
}





