# si no es comentario es directiva , no se mezclan 

RewriteEngine on 

#alt + 94 circunflejo 
#lado izq es lo que se busca(expresion regular) ,lado der lo que se reemplaza 

RewriteRule ^AgregarPelicula$ controllers/AgregarPelicula.php

#cuantificador ,el numero que hizo match de la izq 
#RewriteRule ^Detalle-pelicula-([0-9]+)$ controllers/detallepelicula.php?id=$1